.DS_Store

# Large raw GIS / raster files
*.zip
*.tif
*.ovr
*.xml
*.aux.xml
*.tfw
*.gdb

# Raw raster folder
CONUS_road_noise_2020/

# Jupyter checkpoints
.ipynb_checkpoints/
data/processed/zcta/zillow_zip_zhvi.csv
data/processed/zcta/zillow_zip_zhvi.csv
.DS_Store
data/.DS_Store
